.header {
  position: absolute;
  width: 100%;
  background-color: rgba(252, 248, 248, 0);
}
.container__header {
  display: flex;
  margin: auto;
  width: 1600px;
  height: 170px;
}

.nav__hero {
  background-color: white;
  height: 100px;
  display: flex;
}
.hero {
  background-color: #f4f8ff;
  width: 100vw;
  background-image: url(../images/background-hero2.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
  overflow-x: hidden;


}

.container__hero {
  margin: 0 auto;
  width: 1110px;
  height: 1000px;
}
.meditation {
  height: 700px;
  background: #f4f8ff;
}
.container__meditation {
  margin: 0 auto;
  width: 1620px;
  height: 540px;
  display: flex;
  padding-top: 95px;
  justify-content: space-between;
}

.practice {
  height: 1075px;
  background: #f4f8ff;
  position: relative;
}
.practice__container {
  margin: 0 auto;
  width: 1630px;
  padding-top: 77px;
}
.music {
  height: 1056px;
  background: #f4f8ff;
  background-image: url(../images/music-background.png);
  background-repeat: no-repeat;
  background-position: 50%;
}
.music-container {
  margin: 0 auto;
  width: 1620px;
}

.best {
  height: 1393px;
  background: #f4f8ff;
  background-image: url(../images/best-background.png);
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
  width: 100vw;
}

.best__container {
  margin: 0 auto;
  width: 1682px;
}

.transform {
  height: 1648px;
  background: #f4f8ff;
  background-image: url(../images/background-transform.png);
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
  width: 100vw;
}
.transform__container {
  margin: 0 auto;
  width: 1520px;
}

.footer {
  height: 425px;
  background: #f4f8ff;
  background-image: url(../images/footer-background.png);
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
}
.footer__container {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  width: 780px;
}
