.control,
.control * {
  box-sizing: content-box;
  letter-spacing: 0;
}
.control {
  width: 109px;
  height: 130px;
  font-size: 0;
  white-space: nowrap;
  text-align: center;
  cursor: pointer;
  position: absolute;
  top: 22%;
  left: 75%;
  z-index: 10;
  background-image: url(../images/ico/button_play-music2.png);
  background-repeat: no-repeat;
}
.control,
.control .left,
.control .right,
.control:before {
  display: inline-block;
  vertical-align: middle;
  transition: border 0.2s, width 0.2s, height 0.2s, margin 0.2s;
}
.control:before {
  content: "";
  height: 112px;
}
.control.pause .left,
.control.pause .right {

  border-left: 11.96px solid #ffffff;
  border-top: 0 solid transparent;
  border-bottom: 0 solid transparent;
  height: 30.992px;
      padding-right: 2px;
    margin-left: -5px;
}
.control.pause .left {
  border-right: 8.4px solid transparent;
}
.control.play .left {
  border-left: 14.496px solid #ffffff;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  border-right: 0px solid transparent;
  height: 18px;
}
.control.play .right {
margin-right: -2px;
  border-left: 15.496px solid #ffffff;
  border-top: 9px solid transparent;
  border-bottom: 9px solid transparent;
  height: 0px;
}

.control:hover .left,
.control:hover .right {
  border-left-color: #ffffff;
}
